.mypage {
    text-align: center;
}
.button {
    width:100%;
    height:100%;
    text-decoration: none;
    background:#DCFFF0;
    text-align:center;
    color:#090802;
    font-size:30px;
    font-weight:bold;
    border-radius:13px;
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
    border:none;
}
.button :hover{
    background:#BEFFF3;
    color:#000000;
    margin-left:5px;
    margin-top:5px;
    box-shadow:none;
}
.stamp-btn {
    padding: 10px 20px;
    background-color: #f4d063;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .stamp-btn:disabled {
    background-color: #ccc; /* グレーアウト */
    cursor: not-allowed;
  }