// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stamp-btn {
    padding: 10px 20px;
    background-color: #f4d063;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .stamp-btn:disabled {
    background-color: #ccc; /* グレーアウト */
    cursor: not-allowed;
  }